# Visual Studio
.vs/
*.user
*.csproj.user

# Build output
bin/
obj/

# Compiled binaries
*.dll
*.exe
*.pdb

# NuGet
project.assets.json
project.nuget.cache

# VS Code
.vscode/
/NZWalks/NZWalks.API/appsettings.Development.json
/NZWalks/NZWalks.API/WeatherForecast.cs
/NZWalks/NZWalks.API/NZWalks.API.http
/NZWalks/NZWalks.API/Logs
