# Visual Studio files
.vs/
*.suo
*.user
*.userosscache

# Build outputs
bin/
obj/
[Dd]ebug/
[Rr]elease/

# NuGet packages
*.nupkg
packages/

# Local development files
*.swp
*.cache
*.lock.json

# IDE specific
.idea/
.vscode/

# User-specific files
launchSettings.json

# Compiled output
*.dll
*.pdb
*.exe